src/main/resources/Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.groupeisi.com">
    <xs:element name="getInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="output" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
